---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Enero 2025 - Presente",
    title: "Frontend Developer",
    company: "Dapper S.A.S.",
    description:
      "Implementé nuevas funcionalidades usando Next.js y React, basadas en diseños del equipo UX/UI. Aseguré diseños responsive y compatibilidad cross-browser con Tailwind CSS. Utilicé componentes ShadCN UI para mejorar la consistencia de interfaz y la experiencia de usuario.",
  },
  {
    date: "Noviembre 2024 - Presente",
    title: "Fullstack Developer",
    company: "FullStyle",
    description:
      "Colaboré con un equipo multidisciplinario para diseñar, desarrollar e implementar una plataforma de gestión para negocios de belleza. Construí interfaces escalables y responsivas con Next.js, TypeScript y ShadCN UI. Desarrollé microservicios con Go y optimicé APIs RESTful con Flask y PostgreSQL. Participé en decisiones clave de arquitectura de software para garantizar escalabilidad, mantenibilidad y rendimiento óptimo del sistema.",
  },
  {
    date: "Septiembre 2024",
    title: "Hackathon Winner - Gemalab",
    company: "Fullstack Developer",
    description:
      "Desarrollé una plataforma web para trazabilidad de plantas en el Páramo de Guerrero, permitiendo el registro y seguimiento detallado desde la germinación hasta su preparación para siembra en el ecosistema. Implementé un sistema de autenticación seguro para proteger datos sensibles.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
